<!-- Main content -->
<main id="main-content" role="main">
    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--category">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>

    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{category.name}}</h1>
                {{#if category.description}}
                <p class="govuk-body-l">{{category.description}}</p>
                {{/if}}
            <section>
                {{#each sections}}
                <h2 class="govuk-heading-m govuk-!-margin-top-7">{{name}}</h2>
                {{#is name "Benefits"}}
                <ul class="govuk-list">
                    {{#each articles}}
                    <li>
                        <a class="govuk-link tl-category--article" id="tl-article--{{id}}" href="{{url}}">{{title}}</a>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                {{#each sections}}
                <h3 class="govuk-heading-s govuk-!-margin-top-5 govuk-!-margin-bottom-2">{{name}}</h3>
                <ul class="govuk-list">
                    {{#each articles}}
                    <li>
                        <a class="govuk-link tl-category--article" id="tl-article--{{id}}" href="{{url}}">{{title}}</a>
                    </li>
                    {{/each}}
                    {{#if more_articles}}
                    <li class="govuk-!-margin-top-4">
                        <a class="govuk-link govuk-body-s tl-category--more" href="{{url}}">
                            {{t 'show_all_articles' count=article_count}}
                        </a>
                    </li>
                    {{/if}}
                </ul>


                {{/each}}

                {{/is}}
                {{/each}}

            </section>
            </div>
        </div>
    </div>
</main>

