<!-- Main content -->
<div class="govuk-width-container">
    <div id="tl-breadcrumbs--category">
        <div class="tl-breadcrumbs">
            {{breadcrumbs}}
        </div>
    </div>
</div>


<!-- Article Content -->
<div class="govuk-width-container govuk-main-wrapper">
    <section id="tl-category--header">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{category.name}}</h1>


                <div class="tl-hero">
                    <div class="tl-hero--column">

                        <div class="tl-hero--card">
                            <h2 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">{{settings.about_header}}</h2>
                            <p class="govuk-body">{{settings.about_content}}</p>
                            {{#each sections}}
                            {{#if articles}}
                            {{#each articles}}
                            {{#if promoted}}
                            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-button govuk-!-margin-bottom-0" id="tl-category-hero-link" href="{{url}}">Find out more</a></p>
                            {{/if}}
                            {{/each}}
                            {{/if}}
                            {{/each}}
                        </div>

                    </div>
                    <div class="tl-hero--column">
                        <img class="tl-image--cover" src="{{settings.about_image}}" />
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="tl-category--content">
        {{#each sections}}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">{{name}}</h2>


                {{#if articles}}
                <ul class="govuk-list">
                    {{#each articles}}
                    <li>
                        <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                    </li>
                    {{/each}}

                    {{#if more_articles}}
                    <li class="govuk-!-margin-top-4">
                        <a class="govuk-link govuk-body-s tl-category--more" href="{{url}}">
                            {{t 'show_all_articles' count=article_count}}
                        </a>
                    </li>
                    {{/if}}
                </ul>
                {{else}}
                <ul class="govuk-list">
                    <li>
                        <p class="govuk-body">There's nothing here at the moment</p>
                    </li>
                </ul>
                {{/if}}
                {{#isnt sections.length 1}}
                {{#unless @last}}
                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                {{/unless}}
                {{/isnt}}
            </div>
        </div>
                {{/each}}
    </section>
</div>




