<!-- Main content -->


<div class="govuk-width-container">
    <div id="tl-breadcrumbs--category">
        <div class="tl-breadcrumbs">
            {{breadcrumbs}}
        </div>
    </div>
</div>




<!-- Category Content -->
<div class="govuk-width-container govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{category.name}}</h1>
            {{#if category.description}}
            <p class="govuk-body-l">{{category.description}}</p>
            {{/if}}
        <section>



            {{#each sections}}



                {{#is name "Introducing industry placements"}}
                    <h2 class="govuk-heading-m">{{name}}</h2>


                    {{#if articles}}
                    <ul class="govuk-list">
                        {{#each articles}}
                        <li>
                            <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}

                        {{#if more_articles}}
                        <li class="govuk-!-margin-top-4">
                            <a class="govuk-link govuk-body-s tl-category--more" href="{{url}}">
                                {{t 'show_all_articles' count=article_count}}
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                    {{else}}
                    <ul class="govuk-list">
                        <li>
                            <p class="govuk-body">There's nothing here at the moment</p>
                        </li>
                    </ul>
                    {{/if}}
                    {{#isnt sections.length 1}}
                    {{#unless @last}}
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                    {{/unless}}
                    {{/isnt}}

                {{else}}

                    {{#isnt name "How industry placements work"}}
                        <h2 class="govuk-heading-m">{{name}}</h2>


                        {{#if articles}}
                        <ul class="govuk-list">
                            {{#each articles}}
                            <li>
                                <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                            </li>
                            {{/each}}

                            {{#if more_articles}}
                            <li class="govuk-!-margin-top-4">
                                <a class="govuk-link govuk-body-s tl-category--more" href="{{url}}">
                                    {{t 'show_all_articles' count=article_count}}
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                        {{else}}
                        <ul class="govuk-list">
                            <li>
                                <p class="govuk-body">There's nothing here at the moment</p>
                            </li>
                        </ul>
                        {{/if}}
                        {{#isnt sections.length 1}}
                        {{#unless @last}}
                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                        {{/unless}}
                        {{/isnt}}

                    {{/isnt}}

                {{/is}}
            {{/each}}

        </section>
        </div>
    </div>
</div>

