<!-- Main content -->



<div class="govuk-width-container">
    <div id="tl-breadcrumbs--category">
        <div class="tl-breadcrumbs">
            {{breadcrumbs}}
        </div>
    </div>
</div>


<!-- Article Content -->
<div class="govuk-width-container govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{category.name}}</h1>
            {{#if category.description}}
            <p class="govuk-body-l">{{category.description}}</p>
            {{/if}}
            <section>

                {{#is sections.length 1}}
                {{#each sections}}
                <ul class="govuk-list">
                    {{#if articles}}

                    {{#each articles}}
                    <li>
                        <a class="govuk-link govuk-!-margin-bottom-1" href="{{url}}">{{title}}</a>
                    </li>
                    {{/each}}

                    {{else}}
                    <ul class="govuk-list">
                        <li>
                            <p class="govuk-body">There's nothing here at the moment</p>
                        </li>
                    </ul>
                    {{/if}}
                </ul>
                {{/each}}
                {{else}}
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default--{{category.id}}">

                {{#each sections}}
                {{#isnt name "How industry placements work"}}

                {{is name ""Introducing industry placements""}}
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{id}}">
                                {{name}}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-{{id}}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{id}}">
                        {{#if articles}}
                        <ul class="govuk-list">
                            {{#each articles}}
                            <li>
                                <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                            </li>
                            {{/each}}

                            {{#if more_articles}}
                            <li class="govuk-!-margin-top-4">
                                <a class="govuk-link govuk-body-s tl-category--more" href="{{url}}">
                                    {{t 'show_all_articles' count=article_count}}
                                </a>
                            </li>
                            {{/if}}
                            <li>
                                <a class="govuk-link tl-category--article" href="{{settings.section_id_how_industry}}">How industry placements work</a>
                            </li>
                        </ul>
                        {{else}}
                        <ul class="govuk-list">
                            <li>
                                <p class="govuk-body">There's nothing here at the moment</p>
                            </li>
                        </ul>
                        {{/if}}
                    </div>
                </div>
                {{else}}
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{id}}">
                                {{name}}
                            </span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-{{id}}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{id}}">
                        {{#if articles}}
                        <ul class="govuk-list">
                            {{#each articles}}
                            <li>
                                <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                            </li>
                            {{/each}}

                            {{#if more_articles}}
                            <li class="govuk-!-margin-top-4">
                                <a class="govuk-link govuk-body-s tl-category--more" href="{{url}}">
                                    {{t 'show_all_articles' count=article_count}}
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                        {{else}}
                        <ul class="govuk-list">
                            <li>
                                <p class="govuk-body">There's nothing here at the moment</p>
                            </li>
                        </ul>
                        {{/if}}
                    </div>
                </div>
                {{/is}}

                {{/isnt}}
                {{/each}}
            </div>

                {{/is}}
            </section>
        </div>
    </div>
</div>
</main>

