

<div class="govuk-width-container">
    <div id="tl-breadcrumbs">
        <div class="tl-breadcrumbs tl-hidden">
            <ol class="breadcrumbs">
                <li title="T Levels and industry placement support for employers">
                    <a href="/hc/en-gb">Home</a>
                </li>
                <li title="Register an interest">
                    Register an interest
                </li>
            </ol>
        </div>
        <a href="#" class="govuk-back-link tl-backlink">Back</a>
    </div>
</div>

<script src="{{asset 'employerInterest.js'}}"></script>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    const eoi = new EmployerInterest("{{settings.find_provider_api_uri}}",
                "{{settings.find_provider_api_app_id}}",
                "{{settings.find_provider_api_key}}");

    $(document).ready(function () {
        setpage(eoi);
        populatefields()
        populateanswers();

        $(".tl-eoi-button").click(function (e) {
            e.preventDefault();
            const btnId = $(this).attr("id");
            const nextPage = $(this).attr("href");
            validateanswers(function() {
                storeanswers();
                if(btnId == "tl-eoi-button--3") {
                    eoi.submitEmployerInterest(function() {
                        window.location.href = nextPage;
                    });
                }
                else {
                    window.location = nextPage;
                }
            });
        });

        $("#tl-eoi-button--register").click(function (e) {
            e.preventDefault();
            sessionStorage.clear();
            window.location = $(this).attr("href");
        })

        $('input[name=telephone]').keyup(function () {
            telephoneexpand()
        });
    });

</script>



<!-- Article Content -->
<div class="govuk-width-container govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Start -->
            <div id="tl-eoi--start" class="tl-hidden">
                <h1 class="govuk-heading-xl">{{article.title}}</h1>
                <div class="tl-article--content">{{article.body}}</div>
                <a href="?step=1" type="button" class="govuk-button" id="tl-eoi-button--register">Register an interest</a>
            </div>
            <!-- Stage 1 - About you -->
            <div id="tl-eoi--1" class="tl-hidden">
                <span class="govuk-caption-xl">Step 1 of 3</span>
                <h1 class="govuk-heading-xl">About you</h1>
                <p class="govuk-body">Enter your contact details so that T Level schools and colleges can get in touch with you to discuss your interest in T Levels and industry placements.</p>
                <form class="tl-eoi-form" novalidate>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="full-name">
                            Full name
                        </label>
                        <p id="full-name-error" class="govuk-error-message tl-hidden"></p>
                        <input class="govuk-input" id="full-name" name="full-name" type="text" aria-describedby="full-name-error">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="email">
                            Email address
                        </label>
                        <p id="email-error" class="govuk-error-message tl-hidden"></p>
                        <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-error">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="telephone">
                            Telephone number (optional)
                        </label>
                        <p id="telephone-error" class="govuk-error-message tl-hidden"></p>
                        <input class="govuk-input" id="telephone" name="telephone" type="tel" aria-describedby="telephone-error">
                    </div>

                    <script>

                    </script>
                    <div class="govuk-form-group tl-hidden" id="tl-eoi-contactpref">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-pref-error">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                How would you prefer to be contacted?
                            </legend>
                            <p id="contact-pref-error" class="govuk-error-message tl-hidden"></p>
                            <div class="govuk-radios" data-name="contact-pref" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="contact-pref" name="contact-pref" type="radio" value="Email" data-id="1">
                                    <label class="govuk-label govuk-radios__label" for="contact-pref">
                                        Email
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="contact-pref-2" name="contact-pref" type="radio" value="Telephone" data-id="2">
                                    <label class="govuk-label govuk-radios__label" for="contact-pref-2">
                                        Telephone
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="contact-pref-3" name="contact-pref" type="radio" value="I don't have a preference" data-id="3">
                                    <label class="govuk-label govuk-radios__label" for="contact-pref-3">
                                        I don't have a preference
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <a href="?step=2" type="button" class="govuk-button tl-eoi-button" id="tl-eoi-button--1">Save and continue</a>
                </form>

            </div>
            <!-- Stage 2 - About organisation -->
            <div id="tl-eoi--2" class="tl-hidden">
                <span class="govuk-caption-xl">Step 2 of 3</span>
                <h1 class="govuk-heading-xl">About your organisation</h1>
                <form class="tl-eoi-form" novalidate>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="organisation-name">
                            Organisation name
                        </label>
                        <p id="organisation-name-error" class="govuk-error-message tl-hidden"></p>
                        <input class="govuk-input govuk-input--width-20" id="organisation-name" name="organisation-name" type="text" aria-describedby="organisation-name-error">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="website">
                            Website (optional)
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="website" name="website" type="text">
                    </div>

                    <div class="govuk-form-group" id="tl-eoi-industry">
                        <fieldset class="govuk-fieldset" aria-describedby="industry-error">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                What is your organisation’s primary industry?
                            </legend>
                            <p id="industry-error" class="govuk-error-message tl-hidden"></p>
                            <div class="govuk-radios" data-name="industry" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry" name="industry" type="radio" value="Admin and Business Support" data-id="1">
                                    <label class="govuk-label govuk-radios__label" for="industry">
                                        Admin and Business Support
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Agriculture" data-id="2">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Agriculture
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-3" name="industry" type="radio" value="Arts Entertainment and Recreation" data-id="3">
                                    <label class="govuk-label govuk-radios__label" for="industry-3">
                                        Arts, Entertainment and Recreation
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-4" name="industry" type="radio" value="Construction" data-id="4">
                                    <label class="govuk-label govuk-radios__label" for="industry-4">
                                        Construction
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-5" name="industry" type="radio" value="Education and Childcare" data-id="5">
                                    <label class="govuk-label govuk-radios__label" for="industry-5">
                                        Education and Childcare
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-6" name="industry" type="radio" value="Financial Services" data-id="6">
                                    <label class="govuk-label govuk-radios__label" for="industry-6">
                                        Financial Services
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-7" name="industry" type="radio" value="Health and Social Care" data-id="7">
                                    <label class="govuk-label govuk-radios__label" for="industry-7">
                                        Health and Social Care
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-8" name="industry" type="radio" value="Hospitality" data-id="8">
                                    <label class="govuk-label govuk-radios__label" for="industry-8">
                                        Hospitality
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-9" name="industry" type="radio" value="IT and Communications" data-id="9">
                                    <label class="govuk-label govuk-radios__label" for="industry-9">
                                        IT and Communications
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-10" name="industry" type="radio" value="Manufacturing and Engineering" data-id="10">
                                    <label class="govuk-label govuk-radios__label" for="industry-10">
                                        Manufacturing and Engineering
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-11" name="industry" type="radio" value="Public Sector" data-id="11">
                                    <label class="govuk-label govuk-radios__label" for="industry-11">
                                        Public Sector
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-12" name="industry" type="radio" value="Retail and Wholesale" data-id="12">
                                    <label class="govuk-label govuk-radios__label" for="industry-12">
                                        Retail and Wholesale
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-13" name="industry" type="radio" value="Transport" data-id="13">
                                    <label class="govuk-label govuk-radios__label" for="industry-13">
                                        Transport
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-14" name="industry" type="radio" value="Utilities" data-id="14">
                                    <label class="govuk-label govuk-radios__label" for="industry-14">
                                        Utilities
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-15" name="industry" type="radio" value="Other" data-aria-controls="other-industry" data-id="0">
                                    <label class="govuk-label govuk-radios__label" for="industry-15">
                                        Other
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-industry">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-visually-hidden" for="industry-other">
                                            Other industry
                                        </label>
                                        <p id="industry-other-error" class="govuk-error-message tl-hidden"></p>
                                        <input class="govuk-input govuk-input--width-20" id="industry-other" name="industry-other" type="text" data-cya="industry" aria-describedby="industry-other-error">
                                    </div>

                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group" id="tl-eoi-skillarea">
                        <fieldset class="govuk-fieldset" aria-describedby="skill-area-error">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                What skill areas would you be interested in hosting an industry placement in?
                            </legend>
                            <p id="skill-area-error" class="govuk-error-message tl-hidden"></p>
                            <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-name="skill-area" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area" name="skill-area" type="checkbox" value="Agriculture, Environment and Animal Care" data-id="1">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area">
                                        Agriculture, Environment and Animal Care
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-2" name="skill-area" type="checkbox" value="Business and Administration" data-id="2">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-2">
                                        Business and Administration
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-3" name="skill-area" type="checkbox" value="Catering " data-id="3">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-3">
                                        Catering
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-4" name="skill-area" type="checkbox" value="Construction and the Built Environment" data-id="4">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-4">
                                        Construction and the Built Environment
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-5" name="skill-area" type="checkbox" value="Creative and Design" data-id="5">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-5">
                                        Creative and Design
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-6" name="skill-area" type="checkbox" value="Digital and IT" data-id="6">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-6">
                                        Digital and IT
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-7" name="skill-area" type="checkbox" value="Education and Childcare" data-id="7">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-7">
                                        Education and Childcare
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-8" name="skill-area" type="checkbox" value="Engineering and Manufacturing" data-id="8">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-8">
                                        Engineering and Manufacturing
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-9" name="skill-area" type="checkbox" value="Hair and Beauty" data-id="9">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-9">
                                        Hair and Beauty
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-10" name="skill-area" type="checkbox" value="Health and Science" data-id="10">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-10">
                                        Health and Science
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-11" name="skill-area" type="checkbox" value="Legal, Finance and Accounting" data-id="11">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-11">
                                        Legal, Finance and Accounting
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="postcode">
                            Enter the postcode of your organisation’s location
                        </label>
                        <p id="postcode-error" class="govuk-error-message tl-hidden"></p>
                        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="information">
                            Enter any additional information (optional)
                        </label>
                        <textarea class="govuk-textarea" id="information" name="information" rows="5"></textarea>
                    </div>

                    <a href="?step=3" type="button" class="govuk-button tl-eoi-button" id="tl-eoi-button--2">Save and continue</a>

                </form>



            </div>
            <!-- Stage 3 Check Answers-->
            <div id="tl-eoi--3" class="tl-hidden">
                <span class="govuk-caption-xl">Step 3 of 3</span>
                <h1 class="govuk-heading-xl">Check your answers before sending your details</h1>
                <h2 class="govuk-heading-m">About you</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9 tl-eoi-checkanswers">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--full-name" data-name="full-name">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=1">
                                Change<span class="govuk-visually-hidden"> full name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--email" data-name="email">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=1">
                                Change<span class="govuk-visually-hidden"> email address</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Telephone number
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--telephone" data-name="telephone">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=1">
                                Change<span class="govuk-visually-hidden"> telephone number</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact preference
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--contact-pref" data-name="contact-pref">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=1">
                                Change<span class="govuk-visually-hidden"> contact preference</span>
                            </a>
                        </dd>
                    </div>
                </dl>



                <h2 class="govuk-heading-m">About your organisation</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9 tl-eoi-checkanswers">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--organisation-name" data-name="organisation-name">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=2">
                                Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--website" data-name="website">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=2">
                                Change<span class="govuk-visually-hidden"> website</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Primary industry
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--industry" data-name="industry">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=2">
                                Change<span class="govuk-visually-hidden"> primary industry</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Industry placement skill areas
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--skill-area" data-name="skill-area">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=2">
                                Change<span class="govuk-visually-hidden"> industry placement skill areas</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Postcode
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--postcode" data-name="postcode">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=2">
                                Change<span class="govuk-visually-hidden"> postcode</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Additional information
                        </dt>
                        <dd class="govuk-summary-list__value tl-prewrap" id="tl-eoi-check--information" data-name="information">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="?step=2">
                                Change<span class="govuk-visually-hidden"> additional information</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Now send your details</h2>
                <p class="govuk-body">By submitting this form you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
                <form id="tl-eoi-submission-form" novalidate>
                    <div class="govuk-form-group govuk-!-margin-top-5" id="tl-consent">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <p id="tl-consent-check-error" class="govuk-error-message tl-hidden"></p>
                                <input class="govuk-checkboxes__input" id="tl-consent-check" name="consent" type="checkbox" value="agree" aria-describedby="tl-consent-check-error">
                                <label class="govuk-label govuk-checkboxes__label" for="tl-consent-check">
                                    By selecting this box you confirm that you consent to the Department for Education processing and storing your data for the purposes described in the <a href="https://www.gov.uk/government/publications/privacy-notice-for-key-stage-5-and-adult-education" class="govuk-link">privacy notice</a>.
                                    <br />
                                    <br />
                                    In doing so, we will comply with the General Data Protection Regulation (GDPR) and ensure that any personal data (as defined by GDPR) is protected, used only for the purposes for which it was obtained and disposed of accordingly.
                                </label>
                            </div>
                        </div>
                    </div>
                    <a href="?step=4" type="button" class="govuk-button tl-eoi-button" id="tl-eoi-button--3">Send</a>
                </form>

            </div>
            <!-- Confirmation -->
            <div id="tl-eoi--4" class="tl-hidden">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Your details have been saved
                    </h1>
                </div>
                <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
                <p class="govuk-body">The information you have provided will be shared with T Level schools and colleges near you for the next 12 weeks.</p>
                <p class="govuk-body">If a school or college would like to speak to you about hosting an industry placement or another T Level opportunity, they’ll get in touch using the contact details you have provided.</p>
                <p class="govuk-body">We have also sent you a confirmation email.</p>
                <p class="govuk-body">In the meantime, if you’d like to learn more about T Levels and industry placements, you can go back to <a href="/hc/en-gb" class="govuk-link govuk-link-no-visited-state">T Levels and industry placement support for employers home</a>.</p>
            </div>



            <!-- Unsubscribe -->
            <div id="tl-eoi--withdraw" class="tl-hidden">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        You have withdrawn your interest in T Levels and industry placements
                    </h1>
                </div>
                <p class="govuk-body govuk-!-margin-top-8">
                    We have stopped sharing your details with T Level schools and colleges.
                </p>
                <p class="govuk-body">If you would like to connect with T Level schools and colleges in the future, you can find providers near you from the <a href="/hc/en-gb" class="govuk-link govuk-link-no-visited-state">T Levels and industry placement support for employers home</a>.</p>
            </div>

            <!-- Error -->
            <div id="tl-eoi--error" class="tl-hidden">
                    <h1 class="govuk-heading-l">
                        Sorry, there is a problem with the service
                    </h1>
                <p class="govuk-body">
                    Please try again later.
                </p>
                <p class="govuk-body">
                    You can <a href="mailto:support.deliveringtlevels@education.gov.uk" class="govuk-link govuk-link-no-visited-state">email us</a> if you have an urgent query about T Levels.
                </p>
            </div>
        </div>

        <div class="govuk-grid-column-one-third tl-hidden" id="tl-eoi--related">
            <hr class="govuk-section-break govuk-section-break--visible tl-section-break--blue">
            <div class="tl-article--sidebar govuk-!-margin-top-4">
                <h2 class="govuk-heading-m">More about T Levels and industry placements</h2>
                <ul>
                    <li><a href="/hc/en-gb/articles/{{settings.contact_link_2}}" class="govuk-link">What are T Levels?</a></li>
                    <li><a href="/hc/en-gb/articles/{{settings.contact_link_5}}" class="govuk-link">What are industry placements?</a></li>
                    <li><a href="/hc/en-gb/articles/{{settings.contact_link_3}}" class="govuk-link">How industry placements work</a></li>
                </ul>
            </div>
        </div>
    </div>



</div>





