<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>

<!-- Main content -->
<main id="main-content" role="main">
    <!-- Search Hero -->
    <div class="tl-hero tl-hero--minimal">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    <div id="tl-breadcrumbs--article">
                        <div class="tl-breadcrumbs">
                            {{breadcrumbs}}
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half tl-text--right govuk-!-margin-top-1">
                    <div class="tl-form-group tl-search--container tl-search--home tl-search--home--minimal" id="tl-search--article">

                        <div class="tl-search--error tl-hidden">
                            <span class="tl-error--message"></span>
                        </div>
                        <form role="search" class="tl-search" data-search="" action="/hc/en-gb/search" accept-charset="UTF-8" method="get">
                            <input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search for support" aria-label="Search for support">
                            <input type="hidden" name="filter_by" value="knowledge_base" />
                            <input type="submit" name="commit" value="Search">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Case study</span>
                <h1 class="govuk-heading-xl">{{article.title}}</h1>


            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-body-s">
                            Published
                        </dt>
                        <dd class="govuk-summary-list__value govuk-body-s">
                            {{date article.created_at format='medium'}}
                        </dd>
                    </div>
                    {{#is article.created_at article.edited_at}}{{else}}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-body-s">
                            Last updated
                        </dt>
                        <dd class="govuk-summary-list__value govuk-body-s">
                            {{date article.edited_at format='medium'}}
                        </dd>
                    </div>
                    {{/is}}

                </dl>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <hr class="govuk-section-break govuk-section-break--visible">
                <script>
                    $(document).ready(function () {
                        $('.tl-article--content').find('h2').each(function (index, value) {
                            if ($(this).text() == 'Overview') {
                                $('#tl-article--contents').append('<li class="govuk-body-s">&#8212; ' + $(this).html() + '</li>');
                            }

                            else {
                                $('#tl-article--contents').append('<li class="govuk-body-s">&#8212; <a class="govuk-link" href="#anchor-' + index + '">' + $(this).html() + '</a></li>');
                                $(this).html('<a name="anchor-' + index + '">' + $(this).html() + '</a>');
                            }
                        });
                    });

                </script>
                <h2 class="govuk-body-s govuk-!-margin-top-6">Contents</h2>
                <ul class="govuk-list" id="tl-article--contents">
                </ul>

                <div class="tl-article--content tl-article--content--casestudy govuk-!-margin-top-6">
                    {{article.body}}
                </div>

                <section class="tl-attachments">
                    {{#each attachments}}
                    <div class="tl-attachment">
                        <div class="tl-attachment--thumbnail">
                            <a href="{{url}}" class="govuk-link">
                                <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                                    <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="tl-attachment--details">
                            <h2 class="tl-attachment--title">
                                <a class="govuk-link tl-attachment--link" target="_self" href="{{url}}" download>{{name}}</a>
                            </h2>
                            <p class="tl-attachment--metadata govuk-body-s">File size: <span class="tl-attachment--attribute">{{size}}</span></p>
                        </div>
                    </div>
                    {{/each}}
                </section>

            </div>
            <div class="govuk-grid-column-one-third">
                <hr class="govuk-section-break govuk-section-break--visible tl-section-break--blue">
                <div class="tl-article--sidebar govuk-!-margin-top-6">
                    <h2 class="govuk-heading-m">Related content</h2>
                    {{related_articles}}
                    <ul>
                        {{#each article.path_steps}}
                        <li title="{{name}}"><a href="{{url}}" target="{{target}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                    <hr class="govuk-section-break govuk-section-break--m">

                    <a href="#main-content" class="tl-article--backtotop">Back to top</a>
                    <script>
                        $(document).ready(function () {
                            $('.tl-article--backtotop').scrollToFixed({ limit: $('.tl-article--vote').offset().top });
                        });
                    </script>
                </div>

            </div>
        </div>



    </div>

    {{#with article}}


    <div class="tl-article--vote">
        <div class="tl-article--vote--container">
            <div class="govuk-grid-row">
                <span id="feedbackbuttonyes" class="govuk-grid-column-full">
                    <p class="govuk-body govuk-!-margin-0 vote-prompt" id="voteQuestion">
                        <span id="isPageUseful" class="tl-article--vote--question">Was this page helpful?</span>
                        <a class="tl-article--vote--button" href="#" id="tl-article--vote--yes" vote="yes">Yes <span class="govuk-visually-hidden">this article was useful</span></a>
                        <a class="tl-article--vote--button" href="#" id="tl-article--vote--no" vote="no">No <span class="govuk-visually-hidden">this article wasn't useful</span></a>
                    </p>
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0 vote-prompt tl-article--vote--response" id="voteResponse" style="display: none;">Thank you for your feedback</p>
                </span>
            </div>
            <div class="govuk-grid-row">
                <div id="commentform" class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
                    <form id="formoid" action="/api/v2/requests.json" title="articlefeedback" method="post" class="tl-article--vote--form">
                        <div class="govuk-character-count">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="Comment">Is there anything we could do to further improve this page? (optional)</label>
                                <textarea maxlength="500" class="govuk-textarea govuk-js-character-count" id="Comment" name="Comment" rows="5" aria-describedby="Comment-info"></textarea>
                            </div>
                            <div id="Comment-info" class="tl-article--vote--form--count" aria-live="polite">You have <span id="chars">500</span> characters remaining</div>
                        </div>
                        <div class="govuk-!-margin-top-3">
                            <input class="govuk-button articlefeedbackbutton" type="submit" id="submitButton" name="submitButton" value="Submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>






    <div class="tl-article--resources">
        <div class="tl-article--resources--container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m govuk-!-padding-bottom-4 govuk-!-padding-top-6 govuk-!-margin-top-0 govuk-!-margin-bottom-0 tl-article--resources--header">Other helpful resources</h3>

                    <div class="govuk-!-padding-bottom-4 govuk-!-padding-top-4">
                        <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb" class="govuk-link" id="tl-article--resourcelink--AS">Apprenticeships Service Support</a>
                        <a href="https://esfahelp.education.gov.uk/hc/en-gb" class="govuk-!-margin-left-6 govuk-link" id="tl-article--resourcelink--ESFAHelp">Get help with ESFA services</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    {{/with}}


    <script type="text/javascript">
                var maxLength = 500;
            $('#Comment').keyup(function() {
            	var length = $(this).val().length;
            	var length = maxLength-length;
            	$('#chars').text(length);

              if (length < 0) {
      					$('#submitButton').attr('disabled', true);
							} else {
                $('#submitButton').removeAttr('disabled');
              }
            });

            $("#tl-article--vote--yes").click(function() {
							$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
              $('#articlefeedbacklabel').html('Is there anything we could do to further improve this page? (optional)');
            });

            $(".vote-confirm").click(function() {
             		$('#isPageUseful').text('Is this page useful?');
            });

            $("#tl-article--vote--no").click(function() {
             		$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
                $('#articlefeedbacklabel').html('Why is this page not useful? (optional)');
            });



            $('#commentform').hide();

            $('#tl-article--vote--no').click(function(){
            	$('#commentform').toggle();
              $('#feedbackbuttonyes a').toggle();
            });

            $('#tl-article--vote--yes').click(function () {
                $('#feedbackbuttonyes a').toggle();
            });

            function getCSRFToken(callback,comment) {
                $.ajax({
                    url: "/api/v2/users/me.json",
                    type: 'GET',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(result){
                        var csrfToken = result.user.authenticity_token;
                        callback(csrfToken,comment);
                    }
                });
            }

            function updateRequest(csrfToken,comment) {

                var request = { "requester": { "name": "Article Feedback" }, "subject": "T Levels Article Feedback - {{article.title}}", "comment": {"body": comment}}

                $.ajax({
                    url: "https://esfa.zendesk.com/api/v2/requests.json",
                    type: 'POST',
                    data: JSON.stringify({request: request}),
                    contentType: "application/json",
                    headers: {"X-CSRF-Token": csrfToken},
                    success: function(data, textStatus, jqXHR) {

                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            }

            $("#formoid").submit(function(e){
                e.preventDefault();
                var comment = $("#Comment").val();
                getCSRFToken(updateRequest,comment);
                $('#commentform').hide();
              	$('#voteQuestion').hide();
              	$('#voteResponse').show();
            });

    </script>


</main>