<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>

<main id="main-content" role="main">
    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--article">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>





    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{article.title}}</h1>
                <div class="tl-article--content">{{article.body}}</div>

                <section class="tl-attachments">
                    {{#each attachments}}
                    <div class="tl-attachment">
                        <div class="tl-attachment--thumbnail">
                            <a href="{{url}}" class="govuk-link">
                                <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                                    <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="tl-attachment--details">
                            <h2 class="tl-attachment--title">
                                <a class="govuk-link tl-attachment--link" target="_self" href="{{url}}" download>{{name}}</a>
                            </h2>
                            <p class="tl-attachment--metadata govuk-body-s">File size: <span class="tl-attachment--attribute">{{size}}</span></p>
                        </div>
                    </div>
                    {{/each}}
                </section>

                <p class="govuk-body-s tl-article--date">
                    {{#is article.created_at article.edited_at}}
                    Created: {{date article.created_at format='medium'}}
                    {{else}}
                    Last updated: {{date article.edited_at format='medium'}}
                    {{/is}}
                </p>



            </div>
        </div>



    </div>

    {{#with article}}

    <div class="tl-article--vote">
        <div class="tl-article--vote--container">
            <div class="govuk-grid-row">
                <span id="feedbackbuttonyes" class="govuk-grid-column-full">
                    <p class="govuk-body govuk-!-margin-0 vote-prompt" id="voteQuestion">
                        <span id="isPageUseful" class="tl-article--vote--question">Was this page helpful?</span>
                        <a class="tl-article--vote--button" href="#" id="tl-article--vote--yes" vote="yes">Yes <span class="govuk-visually-hidden">this article was useful</span></a>
                        <a class="tl-article--vote--button" href="#" id="tl-article--vote--no" vote="no">No <span class="govuk-visually-hidden">this article wasn't useful</span></a>
                    </p>
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0 vote-prompt tl-article--vote--response" id="voteResponse" style="display: none;">Thank you for your feedback</p>
                </span>
            </div>
            <div class="govuk-grid-row">
                <div id="commentform" class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
                    <form id="formoid" action="/api/v2/requests.json" title="articlefeedback" method="post" class="tl-article--vote--form">
                        <div class="govuk-character-count">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="Comment">Is there anything we could do to further improve this page? (optional)</label>
                                <textarea maxlength="500" class="govuk-textarea govuk-js-character-count" id="Comment" name="Comment" rows="5" aria-describedby="Comment-info"></textarea>
                            </div>
                            <div id="Comment-info" class="tl-article--vote--form--count" aria-live="polite">You have <span id="chars">500</span> characters remaining</div>
                        </div>
                        <div class="govuk-!-margin-top-3">
                            <input class="govuk-button articlefeedbackbutton" type="submit" id="submitButton" name="submitButton" value="Submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    {{/with}}



    <script type="text/javascript">
    $(".govuk-tabs").attr("data-module", "govuk-tabs");


                var maxLength = 500;
            $('#Comment').keyup(function() {
            	var length = $(this).val().length;
            	var length = maxLength-length;
            	$('#chars').text(length);

              if (length < 0) {
      					$('#submitButton').attr('disabled', true);
							} else {
                $('#submitButton').removeAttr('disabled');
              }
            });

            $("#tl-article--vote--yes").click(function() {
							$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
              $('#articlefeedbacklabel').html('Is there anything we could do to further improve this page? (optional)');
            });

            $(".vote-confirm").click(function() {
             		$('#isPageUseful').text('Is this page useful?');
            });

            $("#tl-article--vote--no").click(function() {
             		$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
                $('#articlefeedbacklabel').html('Why is this page not useful? (optional)');
            });



            $('#commentform').hide();

            $('#tl-article--vote--no').click(function(){
            	$('#commentform').toggle();
              $('#feedbackbuttonyes a').toggle();
            });

            $('#tl-article--vote--yes').click(function () {
                $('#feedbackbuttonyes a').toggle();
            });

            function getCSRFToken(callback,comment) {
                $.ajax({
                    url: "/api/v2/users/me.json",
                    type: 'GET',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(result){
                        var csrfToken = result.user.authenticity_token;
                        callback(csrfToken,comment);
                    }
                });
            }

            function updateRequest(csrfToken,comment) {

                var request = { "requester": { "name": "Article Feedback" }, "subject": "T Levels Employers Article Feedback - {{article.title}}", "comment": {"body": comment}}

                $.ajax({
                    url: "/api/v2/requests.json",
                    type: 'POST',
                    data: JSON.stringify({request: request}),
                    contentType: "application/json",
                    headers: {"X-CSRF-Token": csrfToken},
                    success: function(data, textStatus, jqXHR) {

                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            }

            $("#formoid").submit(function(e){
                e.preventDefault();
                var comment = $("#Comment").val();
                getCSRFToken(updateRequest,comment);
                $('#commentform').hide();
              	$('#voteQuestion').hide();
              	$('#voteResponse').show();
            });

    </script>

</main>