<script>
    document.title = "Contact us | Support with delivering T Levels"

</script>

<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>
<!-- Search Hero -->
<div class="tl-hero tl-hero--minimal">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

                <div id="tl-breadcrumbs--help">
                    <div class="tl-breadcrumbs">
                        {{breadcrumbs}}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half tl-text--right govuk-!-margin-top-1">
                <div class="tl-form-group tl-search--container tl-search--home tl-search--home--minimal" id="tl-search--article">

                    <div class="tl-search--error tl-hidden">
                        <span class="tl-error--message"></span>
                    </div>
                    <form role="search" class="tl-search" data-search="" action="/hc/en-gb/search" accept-charset="UTF-8" method="get">
                        <input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search for support" aria-label="Search for support">
                        <input type="hidden" name="filter_by" value="knowledge_base" />
                        <input type="submit" name="commit" value="Search">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<main id="main-content" role="main">
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Contact us</h1>
                <p class="govuk-body">Use this form to contact us about industry placements. You can usually expect a reply within 2 working days.</p>
                <p class="govuk-body">Alternatively, you can call us on <strong>0800 150 600</strong> (choose option 4). Phone lines are open 8am to 8pm, Monday to Friday.</p>
                <div class="tl-ticket--form">
                    {{request_form}}

                    <div class="govuk-form-group govuk-!-margin-top-5" id="tl-consent">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="tl-consent-check" name="consent" type="checkbox" value="agree" >
                                    <label class="govuk-label govuk-checkboxes__label" for="tl-consent-check">
                                        By checking this box you confirm that you consent to the Department for Education processing and storing your data for the purposes described in the <a href="https://www.gov.uk/government/publications/esfa-privacy-notice" class="govuk-link">privacy notice</a>.
                                    </label>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    const form_name_field_id = {{ settings.field_id_name }}
    const form_subject_field_id = {{ settings.field_id_company }}
    const form_about_field_id = {{ settings.field_id_about }}
    const form_telephone_field_id = {{ settings.field_id_telephone }}


    $(function () {
        $("input[type='submit']").click(function () {
            event.preventDefault;
            var subjectselect = "T Levels and industry placement support for employers - Online query";
            $("#request_subject").val(subjectselect);
        });
    });

    $(document).ready(function () {
        $('.form-field.request_custom_fields_' + form_name_field_id).prepend('<h2 class="govuk-heading-m govuk-!-margin-top-7">Your details</h2>');
        $('.form-field.request_custom_fields_' + form_subject_field_id).prepend('<h2 class="govuk-heading-m govuk-!-margin-top-7">Company details</h2>');
        $('.form-field.request_custom_fields_' + form_about_field_id).prepend('<h2 class="govuk-heading-m govuk-!-margin-top-7">Your message</h2>');
        $('#request_custom_fields_' + form_telephone_field_id).attr('type', 'tel');;


        $("input[type='submit']").attr('value', 'Send').prop("disabled");


        var NameField = $('input#request_custom_fields_' + form_name_field_id).parent();
        NameField.insertBefore($('input#request_anonymous_requester_email').parent());

        $(".notification-error").each(function () {
            $(this).parent('.form-field').find("label").after(this);
            if (!$(this).parent('.form-field').find('#upload-error').length) {
                $(this).parent('.form-field').addClass("govuk-form-group--error");
            }

        });

        $('label[for="request_anonymous_requester_email"]').text("Email address");
        $('label[for="request-attachments"]').parent(".form-field").addClass('tl-js-hidden');

        $('#tl-consent-check').change(function () {
            $(".request-form input[type='submit']").prop("disabled", !this.checked);
        }).change()

        $("#tl-consent").insertBefore($(".request-form input[type='submit']"));

    });

</script>