<script>
    document.title = "Contact us | Support with delivering T Levels"

</script>

<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>
<!-- Search Hero -->
<div class="tl-hero tl-hero--minimal">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

                <div id="tl-breadcrumbs--help">
                    <div class="tl-breadcrumbs">
                        {{breadcrumbs}}
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half tl-text--right govuk-!-margin-top-1">
                <div class="tl-form-group tl-search--container tl-search--home tl-search--home--minimal" id="tl-search--article">

                    <div class="tl-search--error tl-hidden">
                        <span class="tl-error--message"></span>
                    </div>
                    <form role="search" class="tl-search" data-search="" action="/hc/en-gb/search" accept-charset="UTF-8" method="get">
                        <input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search for support" aria-label="Search for support">
                        <input type="hidden" name="filter_by" value="knowledge_base" />
                        <input type="submit" name="commit" value="Search">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<main id="main-content" role="main">
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Contact us</h1>
                <p class="govuk-body">Use this form to send a message to the Education and Skills Funding Agency (ESFA) about T Levels. You can usually expect a reply within 2 working days. </p>
                <p class="govuk-body">Before you send a question, check to see if it has been answered in the {{#link 'posts' class='govuk-link' }}T Level discussion forum{{/link}}</p>
                <div class="tl-ticket--form">
                    {{request_form}}
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    const form_name_field_id = {{ settings.field_id_name }}
    const form_subject_field_id = {{ settings.field_id_subject }}


    $(function () {
        $("input[type='submit']").click(function () {
            event.preventDefault;
            var subjectselect = $(".nesty-input").text();
            $("#request_subject").val(subjectselect);
        });
    });

    $(document).ready(function () {
        if (isLoggedIn()) {
            $.getJSON('/api/v2/users/me.json', function (data) {
                $("#request_custom_fields_360019751459").val(data.user.name);
            });
        };

        $('.form-field.request_custom_fields_' + form_name_field_id).prepend('<h2 class="govuk-heading-m govuk-!-margin-top-7">Your details</h2>');
        $('.form-field.request_custom_fields_' + form_subject_field_id ).prepend('<h2 class="govuk-heading-m govuk-!-margin-top-7">Your message</h2>');
        $("input[type='submit']").attr('value', 'Send');


        var NameField = $('input#request_custom_fields_' + form_name_field_id).parent();
        NameField.insertBefore($('input#request_anonymous_requester_email').parent());

        $(".notification-error").each(function () {
            $(this).parent('.form-field').find("label").after(this);
            if (!$(this).parent('.form-field').find('#upload-error').length) {
                $(this).parent('.form-field').addClass("govuk-form-group--error");
            }

        });

        $('label[for="request_anonymous_requester_email"]').text("Email address");
        
    });

</script>