<script>
        document.title = "User profile for {{user.name}} | Support with delivering T Levels"
</script>


<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback">help us to improve it</a>
            </span>
        </p>
    </div>
</div>
<div class="govuk-width-container" id="tl-breadcrumbs--profile">
    <div class="tl-breadcrumbs">
        {{#link 'help_center' class='govuk-link'}}Home{{/link}}
    </div>
</div>

<!-- Main content -->
<main id="main-content" role="main">


    <div class="govuk-width-container">
        <h1 class="govuk-heading-xl govuk-!-margin-top-7 govuk-!-margin-bottom-7"><span class=" tl-profile-user--hidden">User profile</span><span class=" tl-profile-user--only">Your profile</span></h1>
    </div>
    <!-- Hero Banner -->
    <div class="tl-hero">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half tl-profile--left govuk-!-padding-bottom-5">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <div id="backcolor" class="tl-profile--avatar">
                                <span id=Initials class="posts_list"></span>
                                <script>
								document.addEventListener('DOMContentLoaded', function() {
                                    var name = '{{user.name}}';
                    	            $("#Initials").html(convertNameToInitials(name));
                    	            $("#backcolor").css("background-color",stringToHslColor(convertNameToInitials(name),70, 70));
                                });
                                </script>
                            </div>
                            <div class="tl-profile--userdetails">
                                <h1 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-1">{{user.name}}</h1>
                                <p class="govuk-body {{user.id}}org govuk-!-margin-bottom-1"></p>
                                <p class="govuk-body tl-breakword {{user.id}}email"></p>
                            </div>
                            <script>

                        $.getJSON('/api/v2/users/me.json', function (data) {
                            if (data.user.id == '{{user.id}}') {
                                $(document.body).addClass('tl-profile--me');
                                var orgname = HelpCenter.user.organizations[0].name;
                                var useremail = HelpCenter.user.email;

                                $('.{{user.id}}org').html(orgname);
                                $('.{{user.id}}email').html(useremail);

                            }
                            else {
                                $(document.body).addClass('tl-profile--notme');

                            }
                        });


                            </script>

                            <div class="tl-profile--password tl-hide">
                                <p class="govuk-body tl-profile-user--only govuk-!-margin-top-4 govuk-!-margin-bottom-0"><a href="#" data-action="change-password" id="tl-profile--password">Change password</a></p>
                                <p class="govuk-body-s tl-profile-user--only">(This will also change the password if you need to log in to the <a href="https://esfahelp.education.gov.uk/hc/en-gb" class="govuk-link">'Get help with ESFA services'</a> help centre.)</p>
                            </div>
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    if (!isAgent()) {
                                        $(".tl-profile--password").show();
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half tl-profile--right govuk-!-margin-top-3">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Last activity</h3>
                            <p class="govuk-body">
                                {{#if last_activity_at}}
                                {{date last_activity_at format='medium'}}
                                {{else}}
                                {{t 'no_activity_yet'}}
                                {{/if}}
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Member since</h3>
                            <p class="govuk-body">
                                {{#if member_since}}
                                {{date member_since format='medium'}}
                                {{else}}
                                {{t 'no_activity_yet'}}
                                {{/if}}
                            </p>
                        </div>
                    </div>
                    <details class="govuk-details tl-profile--delete tl-profile-user--only" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Delete my account
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            To delete your account, email <a href="mailto:support.tlevels@digital.education.gov.uk?subject=Remove%20{{user.name}}&body=Please%20delete%20my%20account%20on%20the%20Support%20with%20delivering%20T%20Levels%20website%0D%0A%0D%0A" class="govuk-link tl-profile--delete--link">support.tlevels@digital.education.gov.uk</a>
                            <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-1">Remember to include your full name and organisation.</p>
                            <p class="govuk-body-s govuk-!-margin-top-0 govuk-!-margin-bottom-1">For security, please make sure that your request comes from the same email address as the one you use to log in to this account.</p>
                            <p class="govuk-body-s govuk-!-margin-top-0">This will also delete the account you use to access the <a href="https://esfahelp.education.gov.uk/hc/en-gb" class="govuk-link">'Get help with ESFA services'</a> help centre.</p>

                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
    <!-- Lower Content -->
    <div class="govuk-width-container govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

            </div>
        </div>
    </div>
</main>


