<script type="text/javascript">
    if (window.location.href.indexOf("return_to=%2Fhc%2Frequests") > -1) {
        window.location.href = "/hc/en-gb/articles/{{settings.article_id_confirmation}}";
    }
</script>


<!-- Main content -->
<main id="main-content" role="main">
    <!-- Banner -->
    <div class="tl-home--banner">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5 govuk-!-margin-top-3">{{settings.service_name}}</h1>
                </div>
                <div class="govuk-grid-column-full govuk-!-margin-top-5">
                    <hr class="govuk-section-break govuk-section-break--visible tl-section-break--blue">
                </div>
            </div>
        </div>
    </div>

    <!-- Lower Content -->
    <div class="govuk-width-container govuk-main-wrapper">
        <div class="tl-home--categories">

            {{#each categories}}
            {{#isnt name "Find your nearest T Level Provider"}}
            {{#isnt name "How this site works"}}
            {{#isnt name "Workshops and webinars"}}
            {{#isnt name "Tailored support sessions"}}
            <div class="tl-home--category">
                <span class="tl-home--category--image"></span>
                <h3 class="govuk-heading-m"><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                <p class="govuk-body">{{excerpt description}}</p>
            </div>
            {{/isnt}}
            {{/isnt}}
            {{/isnt}}
            {{/isnt}}
            {{/each}}

            {{#each categories}}
            {{#is name "Workshops and webinars"}}
            {{#each sections}}
            <div class="tl-home--category">
                <span class="tl-home--category--image"></span>
                <h3 class="govuk-heading-m"><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                <p class="govuk-body">{{excerpt description}}</p>
            </div>
            {{/each}}
            {{/is}}
            {{/each}}


        </div>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l">About T Levels</h2>
                <p class="govuk-body">
                    <a href="https://www.tlevels.gov.uk/" class="govuk-link" id="tl-home--tlevels">T Levels</a> are a new qualification for students aged 16-19 who've finished GCSEs. They sit alongside A Levels and apprenticeships to give young people the technical and practical skills needed to be an asset in the workplace.
                </p>
                <p class="govuk-body">T Levels combine classroom learning with a substantial industry placement.</p>
            </div>

            <div class="govuk-grid-column-one-half">
                <iframe class="tl-home--video" id="tl-home--video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/tjNeXtgFQ4Y?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-two-thirds tl-padding-0">
                <div class="tl-card--grey">
                    <h1 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-7">Find your nearest T Level provider</h1>
					<span class="govuk-error-message tl-hidden" id="tl-postcode-error">You must enter a postcode</span>
					<input class="govuk-input govuk-input--width-10" id="tl-postcode" name="tl-postcode" type="text" placeholder="Enter a postcode">
                    <button class="govuk-button tl-button--blue" id="tl-search-providers" data-module="govuk-button">
                        Search
                    </button>
                </div>
            </div>
            <div class="govuk-grid-column-one-third tl-padding-0">
                <img class="tl-image-100" src="{{settings.home_image_6}}">
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l govuk-!-margin-top-7">Contact us</h2>
                <p class="govuk-body">Have questions, or interested in offering an industry placement? Get in touch.</p>
            </div>
        </div>
        <div class="govuk-grid-row tl-row-fill">
            <div class="govuk-grid-column-one-half tl-row-fill">
                <div class="tl-card tl-js-hidden" id="tl-home--ticket">
                    <h3 class="govuk-heading-m">Online and phone</h3>
                    <p class="govuk-body">Use our {{#link 'new_request' class='govuk-link tl-home--contact'}}online contact form{{/link}} to ask a question or if you're ready to offer an industry placement.</p>
                    <p class="govuk-body">You'll usually receive a reply within 2 working days.</p>
                    <p class="govuk-body">Or call us on 0800 150 600 (choose option 4), between 8am to 10pm, Monday to Friday.</p>
                    <p class="govuk-body"><a href="https://www.gov.uk/call-charges" id="tl-home--charges" class="govuk-link" target="_blank">Find out about call charges</a></p>
                </div>
            </div>

            <div class="govuk-grid-column-one-half tl-row-fill">
                {{#each categories}}
                {{#is name "Tailored support sessions"}}
                <div class="tl-card" id="tl-home--phone">
                    <h3 class="govuk-heading-m">{{name}}</h3>
                    <p class="govuk-body">
                        If you need more help getting ready to host an industry placement, we offer free, tailored support.
                    </p>
                    <p class="govuk-body">
                        Our industry placement specialists are here to help you plan, prepare and deliver your industry placement through one-to-one phone calls or online group sessions.
                    </p>
                    <p class="govuk-body"><a href="{{url}}" id="tl-home--specialist" class="govuk-link">Find out more</a></p>
                </div>
                {{/is}}
                {{/each}}
            </div>

        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (!isAgent()) {
            $("#tl-home--ticket").show();
        }
    });

    $(document).ready(function() {
        $('#tl-postcode').val("");

        $('#tl-postcode').keypress(function (e) {
            if (e.which === 13) {
                $("#tl-search-providers").click();
                return false;
            }
        });

        $("#tl-search-providers").click(function() {
            const postcode = $("#tl-postcode").val().trim();

            if (postcode === "") {
                event.stopPropagation();
                showPostcodeError("Enter a postcode");
                return false;
            }

            const searchParams = new URLSearchParams({
                search: postcode
            }).toString();

            $(location).attr('href', `/hc/en-gb/articles/{{settings.article_id_find_provider}}?${searchParams}`);
            
            return true;
        });

        function showPostcodeError(message) {
            $("#tl-postcode-error").text(message);
            $('#tl-postcode-error').removeClass("tl-hidden");
        }
    });
</script>