<script type="text/javascript">
    if (window.location.href.indexOf("return_to=%2Fhc%2Frequests") > -1) {
        window.location.href = "/hc/en-gb/articles/{{settings.article_id_confirmation}}";
    }
</script>


<!-- Main content -->
<!-- Banner -->
<section id="tl-home--banner">
    <div class="govuk-width-container">
        <div class="tl-home--category">
            {{#each categories}}
                {{#is name "News and updates (draft - do not use)"}}
                    <a id="tl-home-waw--article" class="govuk-link" href="{{url}}">{{name}}</a>
                {{/is}}
            {{/each}}
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="tl-home--banner">
                    <div class="tl-home--banner--column">
                        <div class="tl-home--banner--card govuk-!-padding-8">
                            <h1 class="govuk-heading-xl govuk-!-margin-bottom-5 govuk-!-margin-top-0">{{settings.homepage_banner_title}}</h1>
                            <p class="govuk-body-l">{{settings.homepage_banner_text}}</p>
                            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-button govuk-!-margin-bottom-0" id="tl-home-banner--cta" href="/hc/en-gb/articles/{{settings.homepage_banner_button_article}}">{{settings.homepage_banner_button}}</a></p>
                        </div>
                    </div>
                    <div class="tl-home--banner--column">
                        <img class="tl-image--cover tl-home--banner--column--image" src="{{settings.homepage_banner_image}}" />
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- Benefits -->
<section id="tl-home--benefits" class="govuk-!-margin-top-9">
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body-l govuk-!-margin-bottom-2">{{settings.homepage_benefits_intro}}</p>
            </div>
        </div>
        <div class="govuk-grid-row tl-row-fill">
            <div class="govuk-grid-column-one-third tl-row-fill">
                <h2 class="govuk-heading-l tl-home--benefit">Early <span class="govuk-!-font-weight-regular">access</span><br /><span class="govuk-body">to the brightest talent</span></h2>
            </div>
            <div class="govuk-grid-column-one-third tl-row-fill">
                <h2 class="govuk-heading-l tl-home--benefit"><span class="govuk-!-font-weight-regular">Shape the </span> future<br /><span class="govuk-body">of your industry </span></h2>
            </div>
            <div class="govuk-grid-column-one-third tl-row-fill">
                <h2 class="govuk-heading-l tl-home--benefit"><span class="govuk-!-font-weight-regular">5</span> simple <span class="govuk-!-font-weight-regular">steps</span><br /><span class="govuk-body-s"><a href="/hc/en-gb/sections/{{settings.section_id_how_industry}}" class="govuk-link" id="tl-home-banner--industryplacements">Find out how industry placements work</a></span></h2>
            </div>
        </div>
    </div>
</section>

<!-- FAP -->
{{#if settings.fap_enabled}}
<section id="tl-home--fap" class="govuk-!-margin-top-8">
    <div class="govuk-width-container">
        <div class="tl-fap-tile--home"></div>
    </div>
</section>
{{/if}}


<!-- IA -->
<section id="tl-home--ia">
    <div class="govuk-width-container govuk-main-wrapper">
        <div class="tl-home--categories">

            {{#each categories}}
            {{#isnt name "Find a T Level school or college"}}
            {{#isnt name "How this site works"}}
            {{#isnt name "T Level webinars"}}
            {{#isnt name "Tailored support sessions"}}
            {{#isnt name "Skill areas and courses"}}
            {{#isnt name "News and updates (draft - do not use)"}}
            <div class="tl-home--category">
                <span class="tl-home--category--image"></span>
                <h3 class="govuk-heading-s"><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                <p class="govuk-body">{{excerpt description characters=200}}</p>
            </div>
            {{/isnt}}
            {{/isnt}}
            {{/isnt}}
            {{/isnt}}
            {{/isnt}}
            {{/isnt}}
            {{/each}}


        </div>
    </div>

    <div class="govuk-width-container">
        <div class="govuk-grid-row tl-row-fill">
            <div class="govuk-grid-column-two-thirds tl-row-fill govuk-!-margin-bottom-5">
                <div class="tl-card--grey tl-card--flex">
                    {{#each categories}}
                    {{#is name "Skill areas and courses"}}
                    <h3 class="govuk-heading-m">{{name}}</h3>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">


                            {{#each sections}}
                            {{#is name "Digital and IT"}}
                            <h4 class="govuk-heading-s">
                                <a href="{{url}}" class="govuk-link" id="tl-home-skillareas--digital">{{name}}</a>
                            </h4>
                            <p class="govuk-body">{{excerpt description characters=200}}</p>
                            {{/is}}
                            {{/each}}

                        </div>
                        <div class="govuk-grid-column-one-half">
                            <img class="tl-image-100" id="tl-home-lower--image" src="" />
                        </div>

                    </div>
                    <div class="tl-card--grey--lower">

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                        <p class="govuk-body govuk-!-margin-bottom-0"><a href="{{url}}" class="govuk-link" id="tl-home-skillareas--all">All skill areas</a></p>
                    </div>
                    {{/is}}
                    {{/each}}
                </div>

            </div>
            <div class="govuk-grid-column-one-third tl-row-fill govuk-!-margin-bottom-5">
                <div class="tl-card--grey tl-card--flex">
                    <h3 class="govuk-heading-m">T Level  webinars</h3>

                    <div id="tl-workshopsandwebinars">
                        {{#each categories}}
                        {{#is name "T Level webinars"}}

                        {{#each sections}}
                        {{#each articles}}
                        {{#if @first}}
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-1"><a id="tl-home-waw--article" class="govuk-link" href="{{url}}">{{title}}</a></h4>
                        <span class="govuk-body-s tl-text-headercase" id="tl-article--date--{{id}}"></span>
                        <script>
                            $.getJSON('/api/v2/help_center/articles/{{id}}', function (articlelabels) {

                                if (articlelabels.article.label_names && articlelabels.article.label_names.length) {
                                    articlelabels.article.label_names.forEach(function (labelname) {

                                        if (labelname.indexOf("date") != -1) {
                                            var date = labelname.split('/')[1];
                                            var dateformatted = moment(date).format("dddd, Do MMMM YYYY, h:mm A");
                                            $("#tl-article--date--{{id}}").text(dateformatted);
                                        }
                                    });
                                }
                            });

                        </script>

                        {{/if}}
                        {{/each}}
                        {{/each}}
                        <div class="tl-card--grey--lower">
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                            {{#each sections}}
                            <p class="govuk-body govuk-!-margin-bottom-0"><a href="{{url}}" class="govuk-link" id="tl-home-waw--all">See all webinars</a></p>
                            {{/each}}
                        </div>
                        {{/is}}
                        {{/each}}
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Lower Boxes -->
<section id="tl-home--lower">
    <div class="govuk-width-container govuk-!-margin-bottom-5">

        <div id="tl-home--contact" class="tl-js-visible">
            <div class="govuk-grid-row tl-row-fill">
                <div class="govuk-grid-column-one-half tl-row-fill">
                    <div class="tl-card--purple" id="tl-home--question">
                        <h3 class="govuk-heading-m">Have a T Levels question?</h3>
                        <p class="govuk-body">
                            Our T Levels support bot is here to help you find the answers. <a href="#" id="tl-home--answerbot" class="govuk-link">Ask a question</a>
                        </p>
                    </div>
                </div>

                <div class="govuk-grid-column-one-half tl-row-fill">
                    <div class="tl-card--purple tl-js-hidden" id="tl-home--ticket">
                        <h3 class="govuk-heading-m">Contact us</h3>
                        <p class="govuk-body">If you'd like to speak to someone about T Levels or industry placements, or can't find what you're looking for, {{#link 'new_request' class='govuk-link tl-home--contact'}}contact us{{/link}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (!isAgent()) {
            $("#tl-home--ticket").show();
        }
    });

    $('#tl-home--answerbot').click(function () {
        openHelp();
        event.preventDefault();
    });

    $("#tl-home-lower--image").attr("src", "{{settings.home_image_lower}}");
</script>

<script src="{{asset 'findProviderTileHome.js'}}"></script>
<script>
    new FindProviderTileHome("/hc/en-gb/articles/{{settings.article_id_find_provider}}",
                         "{{settings.find_provider_api_uri}}",
                         "{{settings.find_provider_api_app_id}}",
                         "{{settings.find_provider_api_key}}",
                         "{{settings.article_id_eoi}}");

</script>

<!-- Start of tlevelsemployertest Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key={{settings.answerbot_key}}"></script>

<script type="text/javascript">
    window.zESettings = {
        webWidget: {
            answerBot: {
                avatar: {
                    url: "{{settings.answerbot_icon}}",
                    name: {
                        "*": '{{settings.answerbot_name}}'
                    }
                },
                title: {
                    "en-gb": "T Levels Employer Support"
                },
                search: {
                    labels:
                        ['answerbot']
                },
                contactOnlyAfterQuery: true
            }
        }
    };
</script>
<!-- End of tlevelsemployertest Zendesk Widget script -->

<script>
    if ($('#tl-workshopsandwebinars').children().length == 0) {
        $('#tl-workshopsandwebinars').html('<p class="govuk-body">There are currently no upcoming T Level events.</p>')
    }
</script>