<!-- Main content -->
<div class="govuk-width-container">
    <div id="tl-breadcrumbs--help">
        <div class="tl-breadcrumbs">
            <ol class="breadcrumbs">

                <li title="Home">

                    <a href="/hc/en-gb">Home</a>

                </li>
            </ol>
        </div>
    </div>
</div>


<div class="govuk-width-container govuk-main-wrapper govuk-!-padding-top-0">

    <!-- Search Box -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-top-7 govuk-!-margin-bottom-7">{{article.title}}</h1>
            <div class="tl-article--content">{{article.body}}</div>
        </div>
    </div>
    <div class="govuk-grid-row">

        <form role="search" class="tl-fap-search-providers-form">

            <div class="govuk-grid-column-one-third govuk-!-margin-top-7">
                <div class="tl-search--filter">
                    <h3>Enter a postcode or town</h3>
                    <div class="tl-search--filter--content govuk-!-margin-top-2">
                        <span class="govuk-error-message tl-hidden" id="tl-search-term-error">Enter a postcode or town</span>
                        <label class="govuk-visually-hidden" for="tl-search-term">Enter postcode or town</label>
                        <p class="govuk-body govuk-!-margin-bottom-2">For example, S1 2JF, S1 or Sheffield</p>
                        <input class="govuk-input govuk-input--width-10 govuk-body-s" id="tl-search-term" name="tl-search-term" type="text" placeholder="Enter postcode or town">
                        <button class="govuk-button tl-button--blue tl-search--filter--button" id="tl-search-providers" data-module="govuk-button">
                            Search
                        </button>
                    </div>
                </div>
                <div class="tl-fap--filter">
                    <h3>
                        Filter by skill area or T Level
                        <div class="tl-fap--filter--selected">
                        </div>
                    </h3>

                    <div class="tl-fap--filter--content">
                        <p class="govuk-body-s tl-fap--filter--showall">Show all</p>
                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4 govuk-!-margin-top-2">

                        <div class="tl-fap--filter--section">
                            <h4 class="govuk-heading-s govuk-!-margin-top-2">
                                Business and Administration<br />
                                <span class="govuk-body-s tl-text--grey" id="tl-fap--filter--checkstatus"></span>
                            </h4>
                            <details class="tl-fap--filter--details">
                                <summary data-open="Hide T Levels" data-close="Show T Levels" class="govuk-!-margin-bottom-1"></summary>
                                <div>
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        <div class="govuk-checkboxes__item">
                                            <input id="tl_subject_1" name="tl_subject_1" type="checkbox" value="1" class="tl-checkbox govuk-checkboxes__input">
                                            <label for="tl_subject_1" class="govuk-body-s govuk-checkboxes__label">Management and Administration</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input id="tl_subject_2" name="tl_subject_2" type="checkbox" value="2" class="tl-checkbox govuk-checkboxes__input">
                                            <label for="tl_subject_2" class="govuk-body-s govuk-checkboxes__label">Management and Administration 2</label>
                                        </div>
                                    </div>
                                </div>
                            </details>
                            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4 govuk-!-margin-top-2">
                        </div>

                        <div class="tl-fap--filter--section">
                            <h4 class="govuk-heading-s govuk-!-margin-top-2">
                                Business and Administration 2<br />
                                <span class="govuk-body-s tl-text--grey" id="tl-fap--filter--checkstatus"></span>
                            </h4>
                            <details class="tl-fap--filter--details">
                                <summary data-open="Hide T Levels" data-close="Show T Levels" class="govuk-!-margin-bottom-1"></summary>
                                <div class="govuk-checkboxes govuk-checkboxes--small">
                                    <div class="govuk-checkboxes__item">
                                        <input id="tl_subject_3" name="tl_subject_3" type="checkbox" value="3" class="tl-checkbox govuk-checkboxes__input">
                                        <label for="tl_subject_3" class="govuk-body-s govuk-checkboxes__label">Management and Administration 3</label>
                                    </div>
                                </div>
                            </details>
                            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4 govuk-!-margin-top-2">
                        </div>
                    </div>
                    <script>
                        function checkchange() {
                            var numberOfChecked = $(this).parents('.tl-fap--filter--section').find('input[type=checkbox]:checked');
                            var totalCheckboxes = $(this).parents('.tl-fap--filter--section').find('input[type=checkbox]');
                            $(this).parents('.tl-fap--filter--section').find('#tl-fap--filter--checkstatus').html("(" + numberOfChecked.length + " of " + totalCheckboxes.length + " selected)")

                            /// Get checked items and display at top
                            var checkedSection = $(this).parents('.tl-fap--filter--content').find('input[type=checkbox]:checked').parents('.tl-fap--filter--section');


                            if (numberOfChecked.length !== 0) {
                                $(".tl-fap--filter--selected").html('')

                                checkedSection.each(function () {
                                    var checkedSectionBoxes = $(this).find('input[type=checkbox]:checked')
                                    if (checkedSectionBoxes.length !== 0) {
                                        $(".tl-fap--filter--selected").append('<h5>' + $(this).find("h4").clone().children().remove().end().text() + '</h5>')

                                        checkedSectionBoxes.each(function () {
                                            var checkedSectionValue = $(this).attr("id")
                                            $(".tl-fap--filter--selected").append('<span tabindex="0" data-check="' + checkedSectionValue + '">' + $(this).next("label").text() + '</span>')
                                        });
                                    }
                                });
                            }

                            else {
                                $(".tl-fap--filter--selected").html('<p class="govuk-body-s govuk-!-margin-bottom-1">No filters selected</p>')

                            }
                        };

                        function checkremove() {
                            var clickvalue = $(this).attr("data-check");
                            console.log(clickvalue);

                            $('.tl-fap--filter--section').find('input[id=' + clickvalue + ']:checked').trigger("click");
                        };

                        $(document).on("click", ".tl-fap--filter--selected span", checkremove);


                        $(document).ready(function () {
                            $('.tl-fap--filter--content input[type=checkbox]').change(checkchange);
                            $(".tl-fap--filter--section .govuk-checkboxes").each(checkchange);
                        });

                        var details = $(".tl-fap--filter--details");
                        var showall = $(".tl-fap--filter--showall");

                        function checkdetailschange() {
                            details.each(function () {
                                if ($(this).is("[open]")) {
                                    showallopen()
                                    return false;
                                }

                                else {
                                    showallclose()
                                }
                            })
                        };

                        function showallclose() {
                            showall.removeAttr("open");
                            showall.text("Show all")
                        }

                        function showallopen() {
                            showall.attr('open', '');
                            showall.text("Hide all")
                        }

                        details.on('toggle', function () {
                            checkdetailschange()
                        });

                        showall.click(function () {
                            if ($(this).is("[open]")) {
                                details.removeAttr("open");
                                showallclose()
                            }

                            else {
                                details.attr('open', '');
                                showallopen()
                            }
                        })
                    </script>
                    <div class="tl-search--filter">
                        <h3>Filter by skill area</h3>

                        <div class="tl-search--filter--content">
                            <div class="govuk-form-group govuk-!-margin-bottom-2 tl-pane-expandable__content" style="background-color: white; padding: 10px">
                                <div class="govuk-checkboxes govuk-checkboxes--small" id="tl-skill-area-filter">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="govuk-button tl-button--green" id="tl-update-search-providers" data-module="govuk-button">
                        Update results
                    </button>
                </div>
            </div>
        </form>

        <div class="govuk-grid-column-two-thirds tl-hidden govuk-!-margin-top-7" id="tl-error">
            <h2 class="govuk-heading-l" id="tl-error-header"></h2>
            <p class="govuk-body" id="tl-error-detail"></p>
        </div>

        <!-- Search Results -->
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
            <div id="tl-fap--results">
                <div class="tl-fap--noresult tl-hidden">
                    <h2 class="govuk-heading-l">0 results</h2>
                    <p class="govuk-body">Enter a postcode or town name to see the nearest T Level schools and colleges.</p>
                </div>
                <div class="tl-fap--result">
                </div>

            </div>
            <p class="govuk-body">
                <a class="govuk-link tl-hidden" id="tl-next-results-link" href="more-results">Show more results</a>
            </p>
        </div>
    </div>
</div>

<script src="{{asset 'findProvider.js'}}"></script>
<script>
    const qualificationArticleMap = {
        36: "{{settings.qualification_article_36}}",
        37: "{{settings.qualification_article_37}}",
        37: "{{settings.qualification_article_37}}",
        37: "{{settings.qualification_article_37}}",
        37: "{{settings.qualification_article_37}}",
        37: "{{settings.qualification_article_37}}",
        37: "{{settings.qualification_article_37}}",
        38: "{{settings.qualification_article_38}}",
        39: "{{settings.qualification_article_39}}",
        40: "{{settings.qualification_article_40}}",
        41: "{{settings.qualification_article_41}}",
        42: "{{settings.qualification_article_42}}",
        43: "{{settings.qualification_article_43}}",
        44: "{{settings.qualification_article_44}}",
        45: "{{settings.qualification_article_45}}",
        46: "{{settings.qualification_article_46}}",
        47: "{{settings.qualification_article_47}}",
        48: "{{settings.qualification_article_48}}",
        49: "{{settings.qualification_article_49}}",
        50: "{{settings.qualification_article_50}}",
        51: "{{settings.qualification_article_51}}"
    };

    new FindProvider("{{settings.find_provider_api_uri}}",
                "{{settings.find_provider_api_app_id}}",
                "{{settings.find_provider_api_key}}",
                qualificationArticleMap);
</script>
