

<div class="govuk-width-container">
    <div id="tl-breadcrumbs--article">
        <div class="tl-breadcrumbs">
            {{breadcrumbs}}
        </div>
    </div>
</div>

<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };


    function setpage() {
        let step = getUrlParameter('step');
        console.log(step);

        if (step === 1) {
            $("#tl-eoi--1").removeClass("tl-hidden");
        }

        else if (step === 2) {
            $("#tl-eoi--2").removeClass("tl-hidden");
        }

        else if (step === 3) {
            $("#tl-eoi--3").removeClass("tl-hidden");
        }

        else if (step === 4) {
            $("#tl-eoi--4").removeClass("tl-hidden");
        }    

        else (step === null) {
            $("#tl-eoi--start").removeClass("tl-hidden");
            $("#tl-eoi--related").removeClass("tl-hidden");
        }
    }

    $(document).ready(function () {
        setpage
    });
</script>



<!-- Article Content -->
<div class="govuk-width-container govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Start -->
            <div id="tl-eoi--start" class="tl-hidden">
                <h1 class="govuk-heading-xl">{{article.title}}</h1>
                <div class="tl-article--content">{{article.body}}</div>
                    <a href="?step=1" type="button" class="govuk-button" id="tl-eoi-button--register">Register an interest</a>
            </div>
            <!-- Stage 1 - About you -->
            <div id="tl-eoi--1" class="tl-hidden">
                <span class="govuk-caption-xl">Step 1 of 3</span>
                <h1 class="govuk-heading-xl">About you</h1>
                <p class="govuk-body">Enter your contact details so that T Level schools and colleges can get in touch with you to discuss your interest in T Levels and industry placements.</p>
                <form novalidate>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="full-name">
                            Full name
                        </label>
                        <input class="govuk-input" id="full-name" name="full-name" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="email">
                            Email address
                        </label>
                        <input class="govuk-input" id="email" name="email" type="email">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="telephone">
                            Telephone number (optional)
                        </label>
                        <input class="govuk-input" id="telephone" name="telephone" type="tel">
                    </div>

                    <script>
                        $('input[name=telephone]').keyup(function () {
                            var inputlength = $(this).val().length;
                            $("#tl-eoi-contactpref").toggleClass('tl-hidden', inputlength == 0);
                        });
                    </script>
                    <div class="govuk-form-group tl-hidden" id="tl-eoi-contactpref">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                How would you prefer to be contacted?
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="contact-pref" name="contact-pref" type="radio" value="email">
                                    <label class="govuk-label govuk-radios__label" for="contact-pref">
                                        Email
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="contact-pref-2" name="contact-pref" type="radio" value="telephone">
                                    <label class="govuk-label govuk-radios__label" for="contact-pref-2">
                                        Telephone
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="contact-pref-3" name="contact-pref" type="radio" value="I don't have a preference">
                                    <label class="govuk-label govuk-radios__label" for="contact-pref-3">
                                        I don't have a preference
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <button type="button" class="govuk-button" id="tl-eoi-button--1">Save and continue</button>
                    <script>
                        $('#tl-eoi-button--1').click(function (e) {
                            e.preventDefault;
                            $("#tl-eoi--1").addClass("tl-hidden");
                            $("#tl-eoi--2").removeClass("tl-hidden");
                        });
                    </script>
                </form>

            </div>
            <!-- Stage 2 - About organisation -->
            <div id="tl-eoi--2" class="tl-hidden">
                <span class="govuk-caption-xl">Step 2 of 3</span>
                <h1 class="govuk-heading-xl">About your organisation</h1>
                <form novalidate>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="organisation-name">
                            Organisation name
                        </label>
                        <input class="govuk-input" id="organisation-name" name="organisation-name" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="website">
                            Website (optional)
                        </label>
                        <input class="govuk-input" id="website" name="website" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                What is your organisation’s primary industry?
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry" name="industry" type="radio" value="Admin and Business Support">
                                    <label class="govuk-label govuk-radios__label" for="industry">
                                        Admin and Business Support
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Agriculture">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Agriculture
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Arts Entertainment and Recreation">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Arts, Entertainment and Recreation
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Construction">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Construction
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Education and Childcare">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Education and Childcare
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Financial Services">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Financial Services
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Health and Social Care">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Health and Social Care
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Hospitality">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Hospitality
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="IT and Communications">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        IT and Communications
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Manufacturing and Engineering">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Manufacturing and Engineering
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Public Sector">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Public Sector
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Retail and Wholesale">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Retail and Wholesale
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Transport">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Transport
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Utilities">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Utilities
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="industry-2" name="industry" type="radio" value="Other" data-aria-controls="other-industry">
                                    <label class="govuk-label govuk-radios__label" for="industry-2">
                                        Other
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-industry">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-visually-hidden" for="other-industry-name">
                                            Other industry
                                        </label>
                                        <input class="govuk-input" id="other-industry-name" name="other-industry-name" type="text">
                                    </div>

                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                What skill areas would you be interested in hosting an industry placement in?
                            </legend>
                            <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area" name="skill-area" type="checkbox" value="Admin and business support">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area">
                                        Admin and business support
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-2" name="skill-area" type="checkbox" value="Agriculture">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-2">
                                        Agriculture
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-3" name="skill-area" type="checkbox" value="Arts, entertainment, and recreation">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-3">
                                        Arts, entertainment, and recreation
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-4" name="skill-area" type="checkbox" value="Construction">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-4">
                                        Construction
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-5" name="skill-area" type="checkbox" value="Education and childcare">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-5">
                                        Education and childcare
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-6" name="skill-area" type="checkbox" value="Financial services">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-6">
                                        Financial services
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-7" name="skill-area" type="checkbox" value="Health and social care">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-7">
                                        Health and social care
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-8" name="skill-area" type="checkbox" value="Hospitality">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-8">
                                        Hospitality
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-9" name="skill-area" type="checkbox" value="IT and communications">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-9">
                                        IT and communications
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-10" name="skill-area" type="checkbox" value="Manufacturing and engineering">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-10">
                                        Manufacturing and engineering
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-11" name="skill-area" type="checkbox" value="Public sector">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-11">
                                        Public sector
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-12" name="skill-area" type="checkbox" value="Retail and wholesale">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-12">
                                        Retail and wholesale
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-13" name="skill-area" type="checkbox" value="Transport">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-13">
                                        Transport
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-14" name="skill-area" type="checkbox" value="Utilities">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-14">
                                        Utilities
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="skill-area-15" name="skill-area" type="checkbox" value="Other" aria-controls="conditional-skill-area-15" aria-expanded="false">
                                    <label class="govuk-label govuk-checkboxes__label" for="skill-area-15">
                                        Other
                                    </label>

                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-skill-area-15">
                                    <div class="govuk-form-group">
                                        <input class="govuk-input govuk-input--width-30 govuk-!-margin-bottom-2" id="skill-other-entry" name="skill-other-entry" type="text" spellcheck="false">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="postcode">
                            Enter the postcode of your organisation’s location
                        </label>
                        <input class="govuk-input" id="postcode" name="postcode" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="information">
                            Enter any additional information (optional)
                        </label>
                        <textarea class="govuk-textarea" id="information" name="information" rows="5"></textarea>
                    </div>

                    <button type="button" class="govuk-button" id="tl-eoi-button--2">Save and continue</button>
                    <script>
                        $('#tl-eoi-button--2').click(function (e) {
                            e.preventDefault;
                            $("#tl-eoi--2").addClass("tl-hidden");
                            $("#tl-eoi--3").removeClass("tl-hidden");
                        });
                    </script>
                </form>



            </div>
            <!-- Stage 3 Check Answers-->
            <div id="tl-eoi--3" class="tl-hidden">
                <span class="govuk-caption-xl">Step 3 of 3</span>
                <h1 class="govuk-heading-xl">Check your answers before sending your details</h1>
                <h2 class="govuk-heading-m">About you</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--full-name">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> full name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--email">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> email address</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Telephone number
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--telephone">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> telephone number</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact preference
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--contact-pref">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> contact preference</span>
                            </a>
                        </dd>
                    </div>
                </dl>



                <h2 class="govuk-heading-m">About your organisation</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--organisation-name">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--website">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> website</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Primary industry
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--industry">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> primary industryr</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Industry placement skill areas
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--skill-area">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> industry placement skill areas</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Postcode
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--postcode">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> postcode</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Additional information
                        </dt>
                        <dd class="govuk-summary-list__value" id="tl-eoi-check--information">
                            XXXX
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> additional information</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Now send your details</h2>
                <p class="govuk-body">By submitting this form you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
                <form novalidate>
                    <div class="govuk-form-group govuk-!-margin-top-5" id="tl-consent">
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="tl-consent-check" name="consent" type="checkbox" value="agree">
                                <label class="govuk-label govuk-checkboxes__label" for="tl-consent-check">
                                    By selecting this box you confirm that you consent to the Department for Education processing and storing your data for the purposes described in the <a href="https://www.gov.uk/government/publications/privacy-notice-for-key-stage-5-and-adult-education" class="govuk-link">privacy notice</a>.
                                    <br />
                                    <br />
                                    In doing so, we will comply with the General Data Protection Regulation (GDPR) and ensure that any personal data (as defined by GDPR) is protected, used only for the purposes for which it was obtained and disposed of accordingly.
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="govuk-button" id="tl-eoi-button--3">Send</button>
                    <script>
                        $('#tl-eoi-button--3').click(function (e) {
                            e.preventDefault;
                            $("#tl-eoi--3").addClass("tl-hidden");
                            $("#tl-eoi--4").removeClass("tl-hidden");
                        });
                    </script>
                </form>

            </div>
            <!-- Confirmation -->
            <div id="tl-eoi--4" class="tl-hidden">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Your details have been saved
                    </h1>
                </div>
                <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
                <p class="govuk-body">The information you have provided will be shared with T Level schools and colleges near you for the next 12 weeks.</p>
                <p class="govuk-body">If a school or college would like to speak to you about hosting an industry placement or another T Level opportunity, they’ll get in touch using the contact details you have provided.</p>
                <p class="govuk-body">We have also sent you a confirmation email.</p>
                <p class="govuk-body">In the meantime, if you’d like to learn more about T Levels and industry placements, you can go back to <a href="/hc/en-gb" class="govuk-link govuk-link-no-visited-state">T Levels and industry placement support for employers home</a>.</p>
</div>
        </div>

        <div class="govuk-grid-column-one-third tl-hidden" id="tl-eoi--related">
            <hr class="govuk-section-break govuk-section-break--visible tl-section-break--blue">
            <div class="tl-article--sidebar govuk-!-margin-top-4">
                <h2 class="govuk-heading-m">More about T Levels and industry placements</h2>
                <ul>
                    <li><a href="/hc/en-gb/articles/{{settings.contact_link_2}}" class="govuk-link">What are T Levels?</a></li>
                    <li><a href="/hc/en-gb/articles/{{settings.contact_link_5}}" class="govuk-link">What are industry placements?</a></li>
                    <li><a href="/hc/en-gb/articles/{{settings.contact_link_3}}" class="govuk-link">How industry placements work</a></li>
                </ul>
            </div>
        </div>
    </div>



</div>





<script type="text/javascript">
    $(".govuk-tabs").attr("data-module", "govuk-tabs");


                var maxLength = 500;
            $('#Comment').keyup(function() {
            	var length = $(this).val().length;
            	var length = maxLength-length;
            	$('#chars').text(length);

              if (length < 0) {
      					$('#submitButton').attr('disabled', true);
							} else {
                $('#submitButton').removeAttr('disabled');
              }
            });

            $("#tl-article--vote--yes").click(function() {
							$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
              $('#articlefeedbacklabel').html('Is there anything we could do to further improve this page? (optional)');
            });

            $(".vote-confirm").click(function() {
             		$('#isPageUseful').text('Is this page useful?');
            });

            $("#tl-article--vote--no").click(function() {
             		$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
                $('#articlefeedbacklabel').html('Why is this page not useful? (optional)');
            });



            $('#commentform').hide();

            $('#tl-article--vote--no').click(function(){
            	$('#commentform').toggle();
              $('#feedbackbuttonyes a').toggle();
            });

            $('#tl-article--vote--yes').click(function () {
                $('#feedbackbuttonyes a').toggle();
            });

            function getCSRFToken(callback,comment) {
                $.ajax({
                    url: "/api/v2/users/me.json",
                    type: 'GET',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(result){
                        var csrfToken = result.user.authenticity_token;
                        callback(csrfToken,comment);
                    }
                });
            }

            function updateRequest(csrfToken,comment) {

                var request = { "requester": { "name": "Article Feedback" }, "subject": "T Levels Employers Article Feedback - {{article.title}}", "comment": {"body": comment}}

                $.ajax({
                    url: "https://" + "{{settings.subdomain}}" + ".zendesk.com/api/v2/requests.json",
                    type: 'POST',
                    data: JSON.stringify({request: request}),
                    contentType: "application/json",
                    headers: {"X-CSRF-Token": csrfToken},
                    success: function(data, textStatus, jqXHR) {

                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            }

            $("#formoid").submit(function(e){
                e.preventDefault();
                var comment = $("#Comment").val();
                getCSRFToken(updateRequest,comment);
                $('#commentform').hide();
              	$('#voteQuestion').hide();
              	$('#voteResponse').show();
            });

</script>


<!-- Start of tlevelsemployertest Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key={{settings.answerbot_key}}"></script>

<script type="text/javascript">
    window.zESettings = {
        webWidget: {
            answerBot: {
                avatar: {
                    url: "{{settings.answerbot_icon}}",
                    name: {
                        "*": '{{settings.answerbot_name}}'
                    }
                },
                title: {
                    "en-gb": "T Levels Employer Support"
                },
                search: {
                    labels:
                        ['answerbot']
                },
                contactOnlyAfterQuery: true
            }
        }
    };
</script>
<!-- End of tlevelsemployertest Zendesk Widget script -->

<!--Start of FAP script -->
<script src="{{asset 'findProviderTile.js'}}"></script>
<script>
    new FindProviderTile("/hc/en-gb/articles/{{settings.article_id_find_provider}}", 
                         "{{settings.find_provider_api_uri}}",
                         "{{settings.find_provider_api_app_id}}",
                         "{{settings.find_provider_api_key}}");
</script> 
<!--End of FAP script -->