<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>

<!-- Main content -->
<main id="main-content" role="main">
    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--article">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>





    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{article.title}}</h1>
                <div class="tl-article--content">{{article.body}}</div>

                <form method="post">
                    <input type="hidden" id="Latitude" data-val-number="The field Longitude must be a number." />
                    <input type="hidden" id="Longitude" data-val-number="The field Longitude must be a number." />

                    <div class="form-group">
                        <label for="CompanyName">Company name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="CompanyName" />
                            <span class="text-danger" asp-validation-for="CompanyName"></span>
                        </div>
                    </div>

                    <div id="address-lookup" class="hide-nojs">
                        <div class="form-group form-group-compound" id="addressInputWrapper">
                            <label for="postcode-search" class="form-label">Enter your postcode or start typing address</label>
                            <input id="postcode-search" type="text" class="form-control form-control-1-3" spellcheck="false" autocorrect="off">
                            <span class="visuallyhidden" id="ariaAddressEntered" aria-live="polite"></span>
                        </div>
                        <div id="address-manual" class="form-group form-group-compound">
                            <a href="#" class="copy-19" id="enterAddressManually">Or enter address manually</a>
                            <span class="toggle-content hide-nojs loading-text" id="addressLoading">Loading address...</span>
                            <span style="color: red" id="postcodeServiceUnavailable" class="copy-19 toggle-content hide-nojs text">Service is currently unavailable, please enter address manually</span>
                        </div>
                    </div>

                    <div id="addressManualWrapper">
                        <div id="address-details" class="address-manual-input">
                            <div class="form-group">
                                <label for="AddressLine1">Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="AddressLine1" />
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="AddressLine2" />
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="AddressLine3" />
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="AddressCity" />
                                </div>

                                <label for="Postcode">Postcode</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="Postcode" autocapitalize="characters" autocorrect="off" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="SubmitForm">Submit</button>
                        <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="ClearForm">Clear</button>
                    </div>
                </form>



            </div>
        </div>



    </div>

</main>


<script src="{{asset 'postcodesapi.js'}}"></script>

<script>
    const postcodeAnywhereApiKey = "{{settings.postcodes_api}}";
    $(function () {
        console.log("disabling address-details");
        $('#address-details').addClass('disabled');
    });
</script>