
<!-- Main content -->
 
    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--newsletter">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>






    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l tl-text-headercase" id="tl-article--type"></span>
                <h1 class="govuk-heading-l">{{article.title}}</h1>


            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="tl-article--details" class="tl-hide">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p id="tl-article--date" class="tl-hide govuk-body">
                        <strong>Date and time</strong><br>
                        <span></span>
                    </p>
                    <p id="tl-article--location" class="tl-hide govuk-body">
                        <strong>Location</strong><br>
                        <span></span>
                    </p>
                    <p id="tl-article--book" class="tl-hide govuk-body">
                        <a href="#" class="govuk-link">Book your place</a>. There is no charge to attend this webinar.
                    </p>
                </div>
                    <hr class="govuk-section-break govuk-section-break--visible">

                    <div class="tl-article--content tl-article--content--casestudy govuk-!-margin-top-6">
                        {{article.body}}
                    </div>

                <section class="tl-attachments">
                    {{#each attachments}}
                    <div class="tl-attachment">
                        <div class="tl-attachment--thumbnail">
                            <a href="{{url}}" class="govuk-link">
                                <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                                    <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="tl-attachment--details">
                            <h2 class="tl-attachment--title">
                                <a class="govuk-link tl-attachment--link" target="_self" href="{{url}}" download>{{name}}</a>
                            </h2>
                            <p class="tl-attachment--metadata govuk-body-s">File size: <span class="tl-attachment--attribute">{{size}}</span></p>
                        </div>
                    </div>
                    {{/each}}
                </section>

            </div>
            <div class="govuk-grid-column-one-third">
                <hr class="govuk-section-break govuk-section-break--visible tl-section-break--blue">
                <div class="tl-article--sidebar govuk-!-margin-top-6">
                    <h2 class="govuk-heading-m">Related content</h2>
                    {{related_articles}}
                    <ul>
                        {{#each article.path_steps}}
                        <li title="{{name}}"><a href="{{url}}" target="{{target}}">{{name}}</a></li>
                        {{/each}}
                    </ul>

                </div>

            </div>
        </div>



    </div>

    {{#with article}}


    <div class="tl-article--vote">
        <div class="tl-article--vote--container">
            <div class="govuk-grid-row">
                <span id="feedbackbuttonyes" class="govuk-grid-column-full">
                    <p class="govuk-body govuk-!-margin-0 vote-prompt" id="voteQuestion">
                        <span id="isPageUseful" class="tl-article--vote--question">Was this page helpful?</span>
                        <a class="tl-article--vote--button" href="#" id="tl-article--vote--yes" vote="yes">Yes <span class="govuk-visually-hidden">this article was useful</span></a>
                        <a class="tl-article--vote--button" href="#" id="tl-article--vote--no" vote="no">No <span class="govuk-visually-hidden">this article wasn't useful</span></a>
                    </p>
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0 vote-prompt tl-article--vote--response" id="voteResponse" style="display: none;">Thank you for your feedback</p>
                </span>
            </div>
            <div class="govuk-grid-row">
                <div id="commentform" class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
                    <form id="formoid" action="/api/v2/requests.json" title="articlefeedback" method="post" class="tl-article--vote--form">
                        <div class="govuk-character-count">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="Comment">Is there anything we could do to further improve this page? (optional)</label>
                                <textarea maxlength="500" class="govuk-textarea govuk-js-character-count" id="Comment" name="Comment" rows="5" aria-describedby="Comment-info"></textarea>
                            </div>
                            <div id="Comment-info" class="tl-article--vote--form--count" aria-live="polite">You have <span id="chars">500</span> characters remaining</div>
                        </div>
                        <div class="govuk-!-margin-top-3">
                            <input class="govuk-button articlefeedbackbutton" type="submit" id="submitButton" name="submitButton" value="Submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    {{/with}}


    <script type="text/javascript">
                var maxLength = 500;
            $('#Comment').keyup(function() {
            	var length = $(this).val().length;
            	var length = maxLength-length;
            	$('#chars').text(length);

              if (length < 0) {
      					$('#submitButton').attr('disabled', true);
							} else {
                $('#submitButton').removeAttr('disabled');
              }
            });

            $("#tl-article--vote--yes").click(function() {
							$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
              $('#articlefeedbacklabel').html('Is there anything we could do to further improve this page? (optional)');
            });

            $(".vote-confirm").click(function() {
             		$('#isPageUseful').text('Is this page useful?');
            });

            $("#tl-article--vote--no").click(function() {
             		$('#isPageUseful').text('Thank you for your feedback').addClass('govuk-!-font-weight-bold');
                $('#articlefeedbacklabel').html('Why is this page not useful? (optional)');
            });



            $('#commentform').hide();

            $('#tl-article--vote--no').click(function(){
            	$('#commentform').toggle();
              $('#feedbackbuttonyes a').toggle();
            });

            $('#tl-article--vote--yes').click(function () {
                $('#feedbackbuttonyes a').toggle();
            });

            function getCSRFToken(callback,comment) {
                $.ajax({
                    url: "/api/v2/users/me.json",
                    type: 'GET',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(result){
                        var csrfToken = result.user.authenticity_token;
                        callback(csrfToken,comment);
                    }
                });
            }

            function updateRequest(csrfToken,comment) {

                var request = { "requester": { "name": "Article Feedback" }, "subject": "T Levels Employers Article Feedback - {{article.title}}", "comment": {"body": comment}}

                $.ajax({
                    url: "https://esfa.zendesk.com/api/v2/requests.json",
                    type: 'POST',
                    data: JSON.stringify({request: request}),
                    contentType: "application/json",
                    headers: {"X-CSRF-Token": csrfToken},
                    success: function(data, textStatus, jqXHR) {

                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            }

            $("#formoid").submit(function(e){
                e.preventDefault();
                var comment = $("#Comment").val();
                getCSRFToken(updateRequest,comment);
                $('#commentform').hide();
              	$('#voteQuestion').hide();
              	$('#voteResponse').show();
            });


        $.getJSON('/api/v2/help_center/articles/{{article.id}}', function (articlelabels) {

            if (articlelabels.article.label_names && articlelabels.article.label_names.length)
                for (var labelname of articlelabels.article.label_names) {

                    if (labelname.indexOf("type") != -1) {
                        var type = labelname.split('/')[1]
                        $("#tl-article--type").text(type)
                    }

                    if (labelname.indexOf("date") != -1) {
                        var date = labelname.split('/')[1]
                        $("#tl-article--details").show();
                        $("#tl-article--date").show();
                        $("#tl-article--date span").text(date)
                    }

                    if (labelname.indexOf("location") != -1) {
                        var location = labelname.split('/')[1]
                        $("#tl-article--details").show();
                        $("#tl-article--location").show();
                        $("#tl-article--location span").text(location)
                    }

                    if (labelname.indexOf("book") != -1) {
                        var book = labelname.replace("book/", "");
                        $("#tl-article--details").show();
                        $("#tl-article--book").show();
                        $("#tl-article--book a").attr("href", book)
                    }
                }
        });

    </script>


</main>