<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>


<!-- Main content -->
<main id="main-content" role="main">

    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--category">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>




    <!-- Category Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{category.name}}</h1>
                {{#if category.description}}
                <p class="govuk-body-l">{{category.description}}</p>
                {{/if}}


            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group govuk-!-margin-top-6 tl-search--filters">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Show me
                            </h1>
                        </legend>
                        <div class="govuk-radios--small">
                            <a class="tl-search--filter--radio tl-search--filter--radio--checked">
                                <span class="tl-search--filter--radio--button"></span>
                                Test
                            </a>
                        </div>

                    </fieldset>
                </div>

            </div>

            <div class="govuk-grid-column-two-thirds">
                <section>

                    {{#each sections}}
                    <h2 class="govuk-heading-m">{{name}}</h2>


                    {{#if articles}}
                    <ul class="govuk-list">
                        {{#each articles}}
                        <li>
                            <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}

                        {{#if more_articles}}
                        <li class="govuk-!-margin-top-4">
                            <a class="govuk-link govuk-body-s tl-category--more" href="{{url}}">
                                {{t 'show_all_articles' count=article_count}}
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                    {{else}}
                    <ul class="govuk-list">
                        <li>
                            <p class="govuk-body">There's nothing here at the moment</p>
                        </li>
                    </ul>
                    {{/if}}
                    {{#isnt sections.length 1}}
                    {{#unless @last}}
                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                    {{/unless}}
                    {{/isnt}}
                    {{/each}}

                </section>

            </div>
        </div>
        </div>
        </div>
    </div>
</main>

