<!-- Main content -->
<div class="govuk-width-container">
    <div id="tl-breadcrumbs--category">
        <div class="tl-breadcrumbs">
            {{breadcrumbs}}
        </div>
    </div>
</div>


<!-- Article Content -->
<div class="govuk-width-container govuk-main-wrapper">
    <section id="tl-category--header">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{category.name}}</h1>


                <div class="tl-hero">
                    <div class="tl-hero--column">

                        <div class="tl-hero--card">
                            <h2 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">{{settings.about_header}}</h2>
                            <p class="govuk-body">{{settings.about_content}}</p>
                            {{#each sections}}
                            {{#if articles}}
                            {{#each articles}}
                            {{#if promoted}}
                            <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-button govuk-!-margin-bottom-0" id="tl-category-hero-link" href="{{url}}">Find out more</a></p>
                            {{/if}}
                            {{/each}}
                            {{/if}}
                            {{/each}}
                        </div>

                    </div>
                    <div class="tl-hero--column">
                        <img class="tl-image--cover" src="{{settings.about_image}}" />
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="tl-category--content">
        {{#each sections}}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m govuk-!-margin-top-7">{{name}}</h3>
                <ul class="govuk-list">
                    {{#each articles}}
                    {{#if promoted}}
                    {{else}}
                    <li>
                        <a class="govuk-link tl-category--section--article" href="{{url}}">{{title}}</a>
                    </li>
                    {{/if}}


                    {{/each}}
                    {{#if more_articles}}
                        <li class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-4">
                            <a class="govuk-link tl-category--section--article" href="{{url}}">{{t 'show_all_articles' count=article_count}}</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        {{/each}}
    </section>
</div>




