<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="{{settings.survey_link}}" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="{{settings.survey_link}}" id="tl-header--feedback-link">help us to improve it</a>
            </span>
        </p>
    </div>
</div>


<!-- Main content -->
<main id="main-content" role="main">

    <div class="govuk-width-container">
        <div id="tl-breadcrumbs--category">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
    </div>




    <!-- Category Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{section.name}}</h1>
                {{#if section.description}}
                <p class="govuk-body-l">{{section.description}}</p>
                {{/if}}


            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group tl-filter">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Filter by event type
                            </h1>
                        </legend>
                        <div class="govuk-radios--small tl-filter--radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="event-type" name="Event type" type="radio" value="all" checked="checked">
                                <label class="govuk-label govuk-radios__label" for="event-type">
                                    All events
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="event-type-2" name="Event type" type="radio" value="workshops">
                                <label class="govuk-label govuk-radios__label" for="event-type-2">
                                    Workshops
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="event-type-3" name="Event type" type="radio" value="workshops">
                                <label class="govuk-label govuk-radios__label" for="event-type-3">
                                    Workshops
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

            <div class="govuk-grid-column-two-thirds">
                <section>
                    <ul class="govuk-list">

                        {{#each section.articles}}
                        <li>
                            <a class="govuk-link tl-category--article" href="{{url}}">{{title}}</a>
                        </li>
                        {{/each}}

                    </ul>
                </section>

            </div>
        </div>
        </div>
        </div>
    </div>
</main>

